<TMPL_INCLUDE NAME="ibug_table_processing.tmpl">

<TMPL_IF NAME="TABLE_NO_MATCH">
    <div class="heading">No fueron encontrados resultados con parametros de busqueda especificados</div>
</TMPL_IF>

<TMPL_IF NAME="ACTION_DELETESUCCESS">
  <div class="heading">ID de registro eliminado &quot;<TMPL_VAR NAME="S_ID">&quot;</div>.
</TMPL_IF>

<TMPL_IF NAME="ACTION_DELETEPROBLEM">
  <div class="heading"><span class="error">Registro con ID &quot;<TMPL_VAR NAME="S_ID">&quot; NO fue eleminado!</span></div>
            <TMPL_IF NAME="DELETE_REFERENCE_PROBLEM">
            <div class="heading"><span class="error">Intento de eliminacion del registro de la tabla fue rechazado debido a presencia de referencias al registro en otras tablas.</span></div>
            </TMPL_IF>
</TMPL_IF>

<TMPL_IF NAME="ACTION_MODIFYPROBLEM">
  <div class="heading"><span class="error">Registro con ID &quot;<TMPL_VAR NAME="S_ID">&quot; NO fue modificado!</span></div>
            <TMPL_IF NAME="MODIFY_REFERENCE_PROBLEM">
            <div class="heading"><span class="error">Intento de modificación registro de la tabla fue rechazado debido a ausencia del registro de referencia externa correspondiente a valor uno de los campos.</span></div>
            </TMPL_IF>
</TMPL_IF>

<TMPL_IF NAME="ACTION_ADDPROBLEM">
  <div class="heading"><span class="error">Registro NO fue agregado!</span></div>
            <TMPL_IF NAME="ADD_REFERENCE_PROBLEM">
            <div class="heading"><span class="error">Intento de agregar registro a la tabla fue rechazado por ausencia del registro de referencia externa correspondiente para uno de los campos.</span></div>
            </TMPL_IF>
</TMPL_IF>

<TMPL_IF NAME="TABLE_NAME">
  <TMPL_IF NAME="MENU_OUTPUT">
  <TMPL_ELSE>
    <TMPL_IF NAME="FORM">
    <TMPL_ELSE>
    <form action="/cgi-bin/<TMPL_VAR NAME="SCRIPT_NAME">" method="post">
         <div>
      <label for="submit">Agregar nuevo registro a tabla actual &quot;<TMPL_VAR NAME="TABLE_NAME">&quot;</label>
      <input type="hidden" name="action" value="add_new_form">
      <input type="hidden" name="table" value="<TMPL_VAR NAME="TABLE_NAME">">
      <input type="submit" class="formbutton" value="Agregar" />
        </div>
    </form>
    </TMPL_IF>
  <form action="/cgi-bin/<TMPL_VAR NAME="SCRIPT_NAME">" method="post">
       <div>
    <label for="submit">Regresar a menu inicial de tabla actual &quot;<TMPL_VAR NAME="TABLE_NAME">&quot;</label>
    <input type="hidden" name="table" value="<TMPL_VAR NAME="TABLE_NAME">">
    <input type="submit" class="formbutton" value="Regresar" />
      </div> 
  </form>
  <form action="/cgi-bin/<TMPL_VAR NAME="SCRIPT_NAME">" method="post">
       <div>
    <label for="submit">Regresar a MENU PRINCIPAL</label>
    <input type="submit" class="formbutton" value="Regresar" />
      </div> 
  </form>
  </TMPL_IF>
</TMPL_IF>

