<table width="100%">
  <tr><td width="200px">&nbsp;
  </td><td width="400px">
  <form action="/cgi-bin/ibug_unit.cgi" method="post">
    <fieldset>
    <legend>Busqueda por numero de registro en base de datos</legend>
    <div class="unit_form">
      <span class="main_form"><label for="unit_id">Unit_id:</label></span>
      <input type="text" size="10" maxlength="8" alt="valor de unit_id" name="unit_id" />
      <input type="submit" class="searchbutton" value="Buscar" />
    </div>
    </fieldset>
  </form>
  </td><td width="200px">&nbsp;
  </td></tr>
</table>
