<h2>Documentación ReBiOMex</h2>

<h2>Ayuda</h2>

<a name="busqueda"></a>
<h3>Principios generales de búsqueda</h3>
<p>
Actualmente ReBiOMex permite realizar consulta de información en tres principales modalidades: 
consulta de información sobre los especímenes almacenados en colecciones biológicas, 
consulta de información detallada sobre un especimen,
consulta de información taxonómica (contenido auxiliar de ReBiOMex). 
Búsqueda de información se realiza especificando los términos de búsqueda.
Entre más especifica es la información a buscar, mas rápido se realizara la busqueda.
</p>



<a name="comodines"></a>
<h3>Uso de comodines % y _ en búsqueda</h3>
<p>
% es el caracter de comodín que significa cualquier cantidad de caracteres; <br \>_ es el caracter de comodín que significa cualquier caracter (sólo 1).
</p>
<p>
Ejemplos (formulario &quot;Buscar especímenes por&quot;):
<li><b>%Rzedowski%</b> en campo &quot;Nombre de colector&quot; resultara en búsqueda de los especímenes colectados por quipo de colectores uno de los cuajes es Rzedowski</li>
<li><b>%1990</b> en campo &quot;Fecha de colecta&quot; resultara en búsqueda de los especímenes colectados en el año 1990</li>
<li><b>jaliscan%</b> en campo &quot;Especie&quot; resultara en búsqueda de los especímenes cuyo epíteto especifico comienza con <i>jaliscan</i> (i. e. <i>jaliscana</i>, <i>jaliscanum</i>, etc.)</li>
</p>
