<h2>Informacion acerca de sistema Red de Biodiversidad del Occidente de México</h2>

<img border=0px src="../graphics/iyb-spanish.jpg" width="250px" height="97px" alt="2010 Año Internacional de Diversidad Biológica" />

<h2>Resumen</h2>

<p>Sistema <i>Red de Biodiversidad del Occidente de México</i> (ReBiOMex) fue diseñada para ofrecer el mecanismo de almacenamiento, intercambio y búsqueda de información 
sobre biodiversidad basada en los especimenes de las colecciones biológicas. Modelo de datos ABCD tomado como fundamento en desarrollo de sistema ReBiOMex, describe 
la estructura de la documentación científica asociada a colecciones de diversos tipos: herbarios, colecciones zoológicas, paleontológicas, jardines botánicos, etc. 
Implementando este modelo, tenemos visión de ReBiOMex como una herramienta publica, útil en el ámbito multidisciplinario, tanto en investigación científica básica, como aplicada. 
De acuerdo con nuestro punto de vista, el conocimiento de la biodiversidad del Occidente de México requiere una amplia infraestructura de informatización para su integración, 
sistematización y difusión. Funcionamiento público de ReBiOMex será un elemento, que contribuirá a la infraestructura existente. Potencialmente ReBiOMex permite la creación 
de nodos institucionales de Red Mundial de Información sobre Biodiversidad (REMIB de CONABIO) en las sedes de las colecciones científicas.</p>

<p>Proyecto ReBiOMex comenzó en el año 2006 como intento de rescatar la información sobre flora y micobiota del Occidente de México, capturada como 
parte del proyecto de Ordenamiento Ecológico Territorial de Jalisco (OETJ) por equipo de investigadores del Instituto de Botánica de la Universidad de Guadalajara. 
En comparación con la base de datos VITEX utilizada en OETJ, el nuevo sistema ofrece varias ventajas, de las cuales la centralización de almacenamiento de datos y 
su disponibilidad publica consideramos elementos claves. La versión de prueba de ReBiOMex fue instalada en uno de los servidores internos de CUCBA, UdeG en los finales 
del año 2008, y estuvo disponible para la consulta de información hasta mediados del año 2009. Actualmente esta disponible en-linea la nueva versión de ReBiOMex, 
que permite la consulta de información, además cuenta con  mecanismos de captura de nuevos datos y de verificación/ depuración de los datos preexistentes.</p>

<h2>Desarrollo del sistema ReBiOMex</h2>
<p>
<b>Equipo de trabajo ReBiOMex</b>
</p>

<ol>
<li><a href="mailto:jvazquez@cucba.udg.mx" target="_blank">J. Antonio Vázquez García</a> (responsable del proyecto, Instituto de Botánica, CUCBA, UdeG)</li>
<li><a href="mailto:vshalisko@rebiomex.org" target="_blank">Viacheslav Shalisko</a> (arquitectura del sistema, implementación, administración del sistema, depuración de datos de referencia, área de biogeografía, CUCSH, UdeG)</li>
<li>Raul Acevedo Rosas (área de biogeografía, CUCSH, UdeG - Crassulaceae)</li>
<li>Miguel Cházaro Basañez (área de biogeografía, CUCSH, UdeG)</li>
<li>Servando Carvajal (Instituto de botánica, CUCBA, UdeG - Moraceae)</li>
<li>Jesús Guadalupe González Gallegos (CUCBA, UdeG - Lamiaceae: Salvia)</li>
<li>Marco Tulio Rosas Romero</li>
<li>María Elizabeth Flores Vázquez</li>
</ol>
<p>
Blog del equipo de trabajo ReBiOMex: <a href="http://blog.rebiomex.org">blog.rebiomex.org</a>.
</p>

<h2>Origen de datos actualmente disponibles en sistema: base de datos OETJ-VITEX (exportado 2006-01-15, con normalización, verificación y depuración posteriores), sistema ReBiOMex 2007-2010</h2>

<h2>Captura de datos en el proyecto OETJ-VITEX</h2>
<p>
<b>Ordenamiento Ecologico Territorial de la Flora y Micobiota de Jalisco (OETJ)</b><br />
<b>CONTRIBUCIONES</b>
</p>

<ol>
<li>J. Antonio Vázquez.G. (Magnoliaceae-Papaveraceae)</li>
<li>S. Carvajal H. (Hamamelidaceae-Myricaceae y Casuarinaceae)</li>
<li>L. M. González y R. E. Martínez (Fagaceae, Betulaceae, Salicaceae, Clethraceae, Ericaceae, Pyrolacaceae y Monotropaceae)</li>
<li>Luis Guzmán H. (Phytolacaceae-Dilleniaceae)</li>
<li>Y. L. Vargas R. (Ochnaceae-Loasaceae)</li>
<li>J. Reynoso D. (Leguminosae)</li>
<li>R. Cuevas G. y N. M. Nuñez (Celastrales, Myrtales, Podostemales, Rhizophorales y Olacaceae)</li>
<li>M. Cházaro B. y M. Flores (Parásitas: Opiliaceae, Loranthaceae, Rafflesiaceae, Convolvulaceae, Lennoaceae y Orobanchaceae, Balanophoraceae)</li>
<li>O. Vargas P. (Solanaceae, Convolvulaceae)</li>
<li>E. Sahagún G. y E. Medina (Asteridae, excepto Solanales y Asteraceae)</li>
<li>J. A. Lomelí S. y R. León (Icacinaceae-Krameriaceae)</li>
<li>R. Ramírez D. (Sapindales, Geraniales y Apiales)</li>
<li>M. Harker, L. Villaseñor y A. Gamboa (Asteridae)</li>
<li>T. S. Cochrane (Limnocharitaceae-Typhaceae)</li>
<li>P. Dávila A. (Gramineae)</li>
<li>E. Sahagún G. (Bromeliaceae-Dioscoreaceae)</li>
<li>R. González T. (Orchidaceae)</li>
<li>J. Pérez de la Rosa (Gymnospermas)</li>
<li>M. Cedano M. y R. Ramírez D. (Pteridophytas)</li>
<li>H. Arreola y A. Gamboa (Cactaceae)</li>
<li>Enciso et al. (Ficoflora)</li>
<li>L. Guzmán, I Alvarez y O. Rodríguez (Micobiota)</li>
<li>L. Hernández (Endemismo)</li>
<li>J. A. Vázquez-García y H. H. Iltis (Tovariaceae-Bataceae)</li>
<li>J. Antonio Vázquez.G., M. Cházaro B. y R. Acevedo R. (Sapotaceae-Chrysobalanaceae)</li>
</ol>

<h2>Estructura de datos</h2>
<a href="http://www.nhm.ac.uk/hosted_sites/tdwg/" target="_blank"><img border=0px src="../graphics/TDWG_Logo.gif" alt="International Union of Biological Sciences Taxonomic Databases Working Group, TDWG" /></a>
<p>Grupo de Trabajo Internacional de Bases de Datos Taxonómicas 
(<a href="http://www.nhm.ac.uk/hosted_sites/tdwg/" target="_blank">International Union of Biological Sciences Taxonomic Databases Working Group, TDWG</a>) 
promueve el uso de estándares para facilitar estandartizacion y el intercambio de datos de colecciones biológicas. Varios estándares que están aprobados por 
este organismo son de interés para propósitos de creación de base de datos para herbarium IBUG.</p>

<ul>Dos estándares apoyados por TDWG fueron utilizados para crear estructura de datos de base de datos IBUG/OETJ
<li><b>Darwin Core</b>: El Darwin Core (DwC) es un perfil de metadatos que describe el grupo mínimo de estándares para la búsqueda y recuperación de las bases 
de datos de colecciones de historia natural y de observaciones.</li>
<li><b>Esquema ABCD</b>: El Acceso a Datos sobre Colecciones Biológicas (Access to Biological Collection Data, ABCD schema versión 2.06). El esquema de ABDC es un estándar aprobado por 
TDWG y Infraestructura Mundial de información en Biodiversidad (Global Biodiversity Informacion Facility, GBIF) que incorpora elementos de DwC.</li>
</ul>

<!--
<h2>Volumen de datos en sistema ReBiOMex</h2>
<p>Los registros de especimenes con identificación forman parte principal de conjunto de datos, en su mayoría registros provienen del proyecto OETJ-VITEX. 
Los datos estan en proceso de captura, verificación y depuración, numero de registros no es fijo. El día 1 de enero del 2010 sistema contenía 86670 registros de especímenes con identificación.
</p>
-->

<h2>Publicaciones, ponencias, carteles, etc.</h2>
<ul>
<li><a href="../documents/ponencia_IBUG_junio_2006.pdf">Vázquez-García, J. A. 2006. Parte de la ponencia para el evento honorifico de asignacion de nombre Luz María Villareal de Puga a herbario IBUG, Junio 2006.</a></li>
<li><a href="../documents/congreso_SBM_Zacatecas_2007.pdf">Vázquez-García, J. A., Shalisko V. 2007. Base de datos con acceso en-línea para colección de la flora vascular de Jalisco (ReBiOMex). Cartel presentado 2007-10-17 en el XVII Congreso Mexicano de Botánica (Sociedad Botánica de México) en Zacatecas.</a></li>
<li><a href="../documents/ponencia_IBUG_noviembre_2008.pdf">Shalisko V. et al. 2008. Ponencia en Seminario en Botánica Sistemática (XXVI ciclo de seminários, noviembre 2008), Instituto de Botánica, CUCBA</a></li>
<li><a href="../documents/ponencia_IBUG_octubre_2009.pdf">Shalisko V. 2009. Ponencia en Seminario en Botánica Sistemática (XXVII ciclo de seminários, octubre 2009), Instituto de Botánica, CUCBA</a></li>
<li><a href="../documents/ponencia_IBUG_febrero_2010.pdf">Shalisko V., Vázquez-García J. A. 2009. Ponencia en Seminario en Botánica Sistemática (XXVIII ciclo de seminários, febrero 2010), Instituto de Botánica, CUCBA</a></li>
</ul>

<h2>Software ver. 1.4.1 BETA 2010-06-01</h2> 

<p>Software de sistema ReBiOMex está actualmente en proceso de desarrollo por el equipo ReBiOMex (mailto: <a href="mailto:vshalisko@rebiomex.org" target="_blank">Viacheslav Shalisko</a>). Ultima versión es la versión 1.4.1 ALPHA 2010-01-01.
La parte implementada de lado de servidor incluye código multiplatforma escrito en <a href="http://www.perl.org/" target="_blank">Perl</a> bajo términos de licencia abierta, 
que funciona en conjunto con servidor web <a href="http://www.perl.org/" target="_blank">Apache2</a> 
y RDBMS <a href="http://www.mysql.com/" target="_blank">MySQL</a></p>


<!--
<a href="http://www.gentoo.com" target="_blank"><img border=0px src="../graphics/gentoo.png" alt="powered by Gentoo Linux" /></a>&nbsp;&nbsp;&nbsp;
-->
<a href="http://www.perl.org/" target="_blank"><img border=0px src="../graphics/perlpowered.png" alt="powered by Perl" /></a>&nbsp;&nbsp;&nbsp;
<!--
<a href="http://www.activestate.com/Products/ActivePerl/" target="_blank"><img border=0px src="../graphics/perl_logo.gif" alt="powered by ActivePerl" /></a>&nbsp;&nbsp;&nbsp;
-->
<a href="http://www.mysql.com/" target="_blank"><img border=0px src="../graphics/mysql-logo.gif" alt="powered by MySQL" /></a>&nbsp;&nbsp;&nbsp;
<a href="http://www.apache.org/" target="_blank"><img border=0px src="../graphics/apache-server.png" alt="powered by Apache2 http server" /></a>&nbsp;&nbsp;&nbsp;


<!--
<p>
			<a title="Compliant with XHTML 1.1" href="http://validator.w3.org/check/referer">
			<img src="/images/valid-xhtml11.png" alt="Compliant with XHTML 1.1" />
			</a>
			<a title="Compliant with CSS Standards" href="http://jigsaw.w3.org/css-validator/check/referer">
			<img src="/images/valid-css.png" alt="Compliant with CSS Standards" />
			</a>
</p>
-->