<h2>Exportaion de información en el formato XML con la estructura conforme con los estandares DwC y ABCD</h2>

<p>Mecanismos de exportación de datos se encuentran en proceso de implementación.</p>

<h2>Registro en formato <a href="http://rs.tdwg.org/dwc/">DwC</a> (bajo construcción)</h2>

<pre class="xml_code">
<TMPL_VAR NAME="XML_TEST">
</pre>